<!--  -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="purple">
              <h4 class="title">Simple Table</h4>
              <p class="category">Here is a subtitle for this table</p>
          </div>

          <div class="card-content table-responsive">

            <table class="table">

              <thead class="text-primary">
                <tr>
                  <th>Clinic</th>
                  <th>Supply list</th>
                  <th>Qty in Stock</th>
                  <th>Out of Stock</th>
                </tr>
              </thead>


              <tbody>
                  <% @inventories.each do |inventory| %>
                  <% if inventory.out_of_stock %>
                    <tr>
                      <td><%= inventory.clinic.clinic_name %></td>
                      <td><%= link_to inventory.supply_list.item_name, inventory %></td>
                      <td><%= inventory.qty %></td>
                      <td><%= inventory.out_of_stock %></td>
                    </tr>
                    <% end %>
                  <% end %>
              </tbody>



            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
