
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="purple">
              <h4 class="title">Uncomplete Appointments<i class="material-icons">schedule</i></h4>
              <p class="category">Please complete todays surgeries</p>
          </div>

          <div class="card-content table-responsive">

            <table class="table table-hover">

              <thead class="text-primary">
                <tr>
                  <th>Clinic</th>
                  <th>Surgery type</th>
                  <th>Surgery date</th>
                </tr>
              </thead>


              <tbody>
                <% @surgery_appts.each do |surgery_appt| %>
                  <tr>
                    <% if surgery_appt.complete == false && surgery_appt.surgery_date == Date.today %>
                    <td><%= surgery_appt.clinic.clinic_name %></td>
                    <td><%= link_to surgery_appt.surgery_type.surgery_name, edit_surgery_appt_path(surgery_appt) %></td>
                    <td><%= surgery_appt.surgery_date %></td>
                      <td><%= link_to 'Complete', completed_path(surgery_appt.id) %></td>
                  </tr>
                <% end %>
                <% end %>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
