<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="blue">
              <h4 class="title">Today's Schedule<i class="material-icons">cloud</i></h4>
              <!-- <p class="category">View Appointments 1 day</p> -->
              <br>
          </div>
          <br>

          <div class="day-calendar">
            <%= calendar number_of_days: 1, events: @surgery_appt do |date, surgery| %>
              <%= date %>
              <% surgery.each do |surgery| %>
                <div>
                  <%= link_to surgery.name, surgery %>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
