<%= calendar number_of_days: 1, events: @surgery_appt do |date, surgery| %>
  <%= date %>

  <% surgery.each do |surgery| %>
    <div>
      <%= link_to surgery.name, surgery.surgery_type%>
    </div>
  <% end %>
<% end %>
