<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="blue">
              <h4 class="title">Today's Appointments</h4>
              <p class="category">View Appointments 1 day</p>
          </div>
          <br>

          <div class="places-buttons">
             <div class="row">
                 <div class="col-md-6 col-md-offset-3 text-center">
                     <h5>Notifications Places
                         <p class="category">Click to view notifications</p>
                     </h5>
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <div class="col-md-4">
                       <a href="/calendar/day">
                         <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Day</button>
                       </a>
                     </div>
                     <div class="col-md-4">
                       <a href="/calendar/week">
                         <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Week</button>
                       </a>
                     </div>
                     <div class="col-md-4">
                       <a href="/calendar/index">
                         <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Month</button>
                       </a>
                     </div>

                 </div>
             </div>
         </div>
          <%= calendar number_of_days: 7, events: @surgery_appt do |date, surgery| %>
            <%= date %>
            <% surgery.each do |surgery| %>
              <div>
                <%= link_to surgery.name, surgery %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
