<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="purple">
              <h4 class="title">Day Calendar</h4>
              <p class="category">View Appointments 1 day</p>
          </div>
          <br>
          <%= calendar number_of_days: 1, events: @surgery_appt do |date, surgery| %>
            <%= date %>
            <% surgery.each do |surgery| %>
              <div>
                <%= link_to surgery.name, surgery %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
