<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">


          <div class="card-header" data-background-color="blue">
              <h4 class="title">Calendar</h4>
              <p class="category">All Appointments Below</p>
          </div>
          <br>

          <%= month_calendar events: @surgery_appt do |date, surgery| %>
            <%= date %>


            <% surgery.each do |surgery| %>
              <div>
                <%= link_to surgery.name, surgery %>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
