    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
             <h1>Welcome!
                <h1>Sign Up or Sign In!</h1>
            </h1>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
              <a href="login">
                <button class="btn btn-primary btn-block">
                  <h4>Login</h4>
                </button>
                </a>
              </div>
            <div class="col-md-12">
              <a href="/signup">
                <button class="btn btn-primary btn-block">
                  <h4>Sign Up!</h4>
                </button>
              </a>
            </div>
    </div>
</div>
