<h1>Welcome to Our Inventory Management App!</h1><br>
<br>
<br>
<h2>This can be our dashboard</h2>


<h2>Critically Low Stocks!</h2>
<%= render "calendar/week" %>
<%= render "inventories/out_of_stock" %>
<h2>Open Surgeries</h2>
<%= render "surgery_appts/complete_surgeries" %>

<canvas id="myChart" width="400" height="400"></canvas>
