<h1>Welcome to Our Inventory Management App!</h1><br>
<br>
<br>
<h2>This can be our dashboard</h2>


<h2>Critically Low Stocks!</h2>

<%= render "inventories/out_of_stock" %>
<%= render "surgery_appts/complete_surgeries" %>
