<div class="col-md-6">
  <div class="critical-index">
    <%= render "inventories/out_of_stock" %>
    <%= render "surgery_appts/complete_surgeries" %>
  </div>
</div>

<!-- #################################### -->
<!-- calendar week -->
<div class="col-md-6">
  <%= render "calendar/day2" %>
</div>
<!-- #################################### -->

<!-- #################################### -->
<!-- OLD Chart -->
<!-- <div class="col-md-6">
  <%#= render "inventories/graph" %>
</div> -->

<!-- NEW CHART -->
<div class="col-md-6">
    <div class="card" id="BarGraphCard">
        <div class="card-header card-chart" data-background-color="white">
            <div class="ct-chart" id="BarGraph">
              <%= render partial: 'business_intelligence/donut_graph' %>
            </div>
        </div>
        <div class="card-content" id="BarGraphCardContent">
            <h4 class="title">Surgery Types and Appointments</h4>
            <p class="category">Which Procedure Brings More Appointments?</p>
        </div>
        <div class="card-footer" id="BarGraphCardFooter">
            <div class="stats">
                <i class="material-icons">access_time</i> Real Time Data!
            </div>
        </div>
    </div>
</div>
















<!-- #################################### -->
  <!-- <div class="places-buttons">
      <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <h5>Notifications Places
                  <p class="category">Click to view notifications</p>
              </h5>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="col-md-4">
                  <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Top Left</button>
              </div>
              <div class="col-md-4">
                  <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Top Center</button>
              </div>
              <div class="col-md-4">
                  <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">Top Right</button>
              </div>
          </div>
      </div>
  </div>
</div> -->















<!-- <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>
        </div>
    </div>
</div> -->
