<%#= form_with(model: @surgery_recipe_reqs, local: true, data: { remote: false }, method: 'put', class: "") do |form| %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Edit Surgery Recipe</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <tr>
                  <th>Item Name</th>
                  <th>Qty Used</th>
                  <th>Submit</th>
                </tr>
              </thead>

              <tbody>
                <div class="col-md-12">
                  <div class="form-group label-floating is-empty">
                      <tr>
                          <label class="control-label"></label>
                          <!-- <% @surgery_type.my_reqs.each do |req| %> -->
                          <td><%#= req.supply_list.item_name %></td>
                          <td><%#= form.number_field :qty%></td>
                          <td><%#= form.label :req %></td>
                          <td><%#= form.number_field.:qty, id: :req %></td>
                          <%#= form.number_field :qty, id: :inventory_qty %>
                        </tr>
                      </tr>
                      <td><button type="submit" class="btn btn-primary pull-right btn-block" >Update Recipe!</button></td>
                  </div>
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
