<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">Simple Table</h4>
              <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                  <th>Surgery name</th>
              </thead>
              <tbody>
                <% @surgery_types.each do |surgery_type| %>
                  <tr>
                    <td><%= link_to surgery_type.surgery_name, edit_surgery_type_path(surgery_type) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
