<p id="notice"><%= notice %></p>

<p>
  <strong>Surgery name:</strong>
  <%= @surgery_type.surgery_name %>
</p>

<%= link_to 'Edit', edit_surgery_type_path(@surgery_type) %> |
<%= link_to 'Back', surgery_types_path %>
