<div class="places-buttons">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="col-md-4">
             <a href="/business_intelligence/bar_graph">
               <button class="btn btn-primary btn-block">Bar Chart</button>
             </a>
           </div>
           <div class="col-md-4">
             <a href="/business_intelligence/line_graph">
               <button class="btn btn-primary btn-block">Stacked Chart</button>
             </a>
           </div>
           <div class="col-md-4">
             <a href="/business_intelligence/donut_graph">
               <button class="btn btn-primary btn-block">Donut Chart</button>
             </a>
           </div>
       </div>
   </div>
</div>

<%= render 'line_graph' %>
